html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  padding: 16px 48px;
  background-color: #69B99D;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04px;
  text-decoration: none;
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .btn:hover {
    background-color: #F5F5F5;
    color: #69B99D;
  }
}

.btn--long {
  border: 1px solid #69B99D;
  background-color: transparent;
  padding: 12px 48px;
  width: 100%;
  color: #69B99D;
}
@media (hover: hover) {
  .btn--long:hover {
    background-color: #69B99D;
    color: #F5F5F5;
    box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
  }
}

.btn--send {
  padding: 8px 22px;
  line-height: 26px;
  letter-spacing: 0.5px;
  border: none;
  margin-left: -4px;
  min-height: 42px;
}
@media (hover: hover) {
  .btn--send:hover {
    background-color: #69B99D;
    color: #F5F5F5;
    box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
  }
}

.more-info-link {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  color: #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 12px;
}
.more-info-link::after {
  transition: all 0.1s ease;
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 15px;
  right: -8px;
  border-radius: 50%;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
}
@media (hover: hover) {
  .more-info-link:hover::after {
    right: -11px;
  }
}

.burger-menu {
  display: none;
  margin-right: 30px;
}
.burger-menu span {
  display: block;
  margin-bottom: 6px;
  height: 4px;
  width: 30px;
  background-color: #69B99D;
}
.burger-menu span:last-child {
  margin-bottom: 0;
}

.section-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.section-list__item {
  max-width: 376px;
  width: 100%;
  padding: 16px;
  border: 1px solid #DEDCDA;
  margin-right: 34px;
}
.section-list__item:last-child {
  margin-right: 0;
}

.input-title {
  color: #0B2E29;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.email-input {
  border: 0;
  outline: none;
  padding: 8px 16px;
  min-height: 42px;
}
.email-input::placeholder {
  color: #D7D7D7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
}

.over-title {
  color: #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #F8F9FE;
  padding: 12px 24px;
  display: inline-block;
  text-align: center;
  margin: 0;
}

.section-title {
  color: #054457;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.5px;
  max-width: 505px;
  width: 100%;
  margin: 0;
}

.section-desc {
  color: #73788C;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
  margin: 0;
}

.header {
  position: relative;
  background-color: #F5F5F5;
}

.header::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  height: 761px;
  width: 800px;
  z-index: 0;
  content: '';
}

.header__wrapper {
  position: relative;
  z-index: 5;
  padding-bottom: 108px;
  max-width: 1920px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 77px 0;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav__btn {
  margin-right: 8px;
}
.nav__btn:last-child {
  margin-right: 0;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 32px;
}
.menu__item {
  margin: 0 48px 0 0;
}
.menu__item:last-child {
  margin: 0;
}
.menu__item-link {
  color: #8E8E8E;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-decoration: none;
}
.menu__item-link:hover {
  color: #69B99D;
}

.header__over-title {
  margin-bottom: 32px;
}

.header__title {
  color: #1F2744;
  font-family: "Rubik", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0.16px;
  max-width: 605px;
  width: 100%;
  margin: 0 0 24px 0;
}

.header__desc {
  max-width: 505px;
  margin-bottom: 64px;
}

.header__search-buttons {
  display: flex;
}

.header__search-type-btn {
  display: inline-block;
  padding: 12px 32px;
  background-color: #F5F5F5;
  text-align: center;
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.06px;
  text-decoration: none;
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .header__search-type-btn:hover {
    color: #69B99D;
  }
}

.header__search-type-btn--active {
  background-color: #FEFEFF;
  color: #69B99D;
}

.header__search-panel {
  display: flex;
  background-color: #FEFEFF;
  padding: 32px;
  max-width: 750px;
  justify-content: center;
  align-items: center;
  box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16);
}
.header__search-panel-options {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 0;
  padding: 0;
}

.header__search-option {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.045px;
}
.header__search-option:last-child {
  margin-right: 0;
}
.header__search-option-name {
  color: #1F2744;
  font-family: "Rubik", sans-serif;
  margin: 0 0 8px 0;
}
.header__search-option-value {
  position: relative;
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
}
@media (hover: hover) {
  .header__search-option-value:hover::after {
    transform: rotate(-45deg);
    top: 8px;
    right: -14px;
  }
}
.header__search-option-value::after {
  content: "";
  transition: all 0.2s ease;
  position: absolute;
  top: 5px;
  right: -18px;
  border: solid #1F2744;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
}

.discover {
  background-color: #FFFFFF;
  padding: 120px 0;
}
.discover__over-title {
  margin-bottom: 16px;
}
.discover__title {
  margin-bottom: 16px;
}
.discover__desc-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 48px;
}
.discover__desc {
  max-width: 492px;
}

.discover-list__item-image {
  margin-bottom: 16px;
  text-align: center;
}
.discover-list__item-image img {
  height: 238px;
}

.discover-list__item-title {
  color: #1F2744;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.06px;
  margin: 0 0 8px 0;
}

.discover-list__item-desc {
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04px;
  margin: 0 0 16px 0;
}

.discover-list__item-price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.discover-list__item-price {
  color: #69B99D;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.06px;
  margin: 0;
}

.discover-list__item-area {
  display: inline-block;
  padding: 8px 12px;
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
  background-color: #F5F5F5;
  margin: 0;
}

.discover-list__item-area span {
  color: #1F2744;
}

.advante {
  background-color: #F5F5F5;
  padding: 80px 0;
}
.advante__over-title {
  margin-bottom: 16px;
}
.advante__title {
  margin-bottom: 48px;
}

.advante__list {
  flex-wrap: wrap;
  align-items: stretch;
}
.advante__list-item {
  border: none;
  margin-bottom: 32px;
  margin-right: 26px;
}
.advante__list-item:nth-child(3n) {
  margin-right: 0;
}
.advante__list-item-image {
  margin-bottom: 20px;
}
.advante__list-item-title {
  font-family: "Poppins", sans-serif;
  color: #1F2744;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.5px;
  margin: 0 0 16px 0;
}
.advante__list-item-desc {
  max-width: 336px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #73788C;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin: 0;
}

.about {
  padding: 216px 0 120px 0;
}
.about__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__image {
  position: relative;
  margin-right: 56px;
}
.about__over-title, .about__title {
  margin-bottom: 16px;
}
.about__desc {
  margin-bottom: 48px;
}

.about__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px;
  background-color: #FEFEFF;
  box-shadow: 35px 35px 65px 0px rgba(146, 106, 120, 0.16);
  max-width: 175px;
  width: 100%;
  position: absolute;
  top: -135px;
  left: 96px;
}
.about__rating-image {
  margin-bottom: 18px;
}
.about__rating-value {
  font-family: "Poppins", sans-serif;
  color: #1F2744;
  font-size: 72px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.18px;
  margin: 0 0 8px 0;
}
.about__rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 16px 0;
}
.about__rating-desc, .about__rating-reviews-count {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
  margin: 0;
}
.about__rating-desc {
  color: #A6A6A6;
  margin-bottom: 2px;
}
.about__rating-reviews-count {
  color: #1F2744;
}

.about__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.about__stats-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  margin-right: 32px;
}
.about__stats-info:last-child {
  margin-right: 0;
}
.about__stats-value {
  font-family: "Poppins", sans-serif;
  color: #1F2744;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.12px;
  margin: 0 8px 0 0;
}
.about__stats-desc {
  color: #A6A6A6;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04px;
  max-width: 72px;
  width: 100%;
  margin: 0;
}

.customers {
  padding-bottom: 120px;
}
.customers__over-title {
  margin-bottom: 16px;
}
.customers__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.customers__quote {
  margin: 0;
  color: #1F2744;
  font-family: "Poppins", sans-serif;
}
.customers__quote-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.045px;
  max-width: 312px;
  width: 100%;
  margin: 0 0 16px 0;
}
.customers__quote-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
  margin: 0 0 26px 0;
}

.customers__quote-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.customers__quote-author-image {
  margin-right: 14px;
}
.customers__quote-author-name {
  color: #0B2E29;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin: 0 0 4px 0;
  font-style: normal;
}
.customers__quote-author-desc {
  color: #767676;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin: 0;
}

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #F5F5F5;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 100px 0;
}
.footer__logo {
  margin-bottom: 16px;
}
.footer__info-desc {
  color: #1F2744;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04px;
  margin: 0 0 24px 0;
  max-width: 345px;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form-input {
  display: flex;
  align-items: center;
}

.footer__table {
  text-align: left;
  margin: -16px -80px;
  border-spacing: 80px 16px;
}
.footer__table-title {
  color: #0B2E29;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.footer__table-desc-link {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .footer__table-desc-link:hover {
    color: #69B99D;
  }
}

.footer__social-media-title {
  color: #0B2E29;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 16px 0;
}

.footer__social-media-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer__social-media-item {
  margin-right: 16px;
}
.footer__social-media-item:last-child {
  margin-right: 0;
}

.footer__social-media-img {
  height: 40px;
  width: 40px;
}

@media (max-width: 1240px) {
  .header::after {
    display: none;
  }

  .header__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discover {
    padding: 90px 0;
  }

  .discover__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .discover__desc-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .discover-list {
    flex-wrap: wrap;
  }
  .discover-list__item {
    margin-bottom: 20px;
  }
  .discover-list__item:nth-child(2) {
    margin-right: 0;
  }
  .discover-list__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
    max-width: 786px;
    width: 100%;
  }
  .discover-list__item:last-child img {
    height: 520px;
  }
}
@media (max-width: 1220px) {
  .advante__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advante__over-title, .advante__title {
    text-align: center;
  }

  .advante__list-item {
    text-align: center;
    margin: 0 13px 16px 13px;
  }
  .advante__list-item:nth-child(3n) {
    margin-right: 13px;
  }
}
@media (max-width: 1180px) {
  .customers__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .customers__title-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .customers-list {
    flex-wrap: wrap;
  }
  .customers-list__item {
    margin: 0 17px 20px 17px;
  }
  .customers-list__item:last-child {
    margin: 0 17px 0 17px;
    max-width: 786px;
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .about__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    margin: 0 0 30px 0;
  }

  .about__text {
    max-width: 610px;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__info, .footer__nav {
    margin-bottom: 40px;
  }

  .footer__social-media {
    text-align: center;
  }
}
@media (max-width: 860px) {
  .customers-list {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .customers-list__item {
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  .customers-list__item:last-child {
    margin: 0;
    max-width: 100%;
  }
}
@media (max-width: 840px) {
  .advante__list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .advante__list-item {
    margin: 0 0 16px 0;
  }
  .advante__list-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 825px) {
  .discover-list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .discover-list__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .discover-list__item:last-child {
    margin-bottom: 0;
    max-width: 376px;
  }
  .discover-list__item:last-child img {
    height: 238px;
  }
}
@media (max-width: 700px) {
  .header__search-panel-options {
    flex-wrap: wrap;
  }

  .about__img {
    height: 443px;
  }

  .about__text {
    max-width: 567px;
  }
}
@media (max-width: 692px) {
  .header__search-option {
    margin-bottom: 20px;
  }
  .header__search-option:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 650px) {
  .header__title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 16px;
  }
}
@media (max-width: 620px) {
  .about {
    padding: 80px 0;
  }

  .about__img {
    height: 350px;
  }

  .about__rating {
    padding: 16px 16px 20px 16px;
    max-width: 148px;
    top: 0;
    left: 0;
  }
  .about__rating-image {
    margin-bottom: 12px;
  }
  .about__rating-value {
    font-size: 40px;
    line-height: 35px;
  }
  .about__rating-stars {
    margin-bottom: 10px;
  }
  .about__rating-desc {
    font-size: 12px;
    line-height: 18px;
  }
  .about__rating-reviews-count {
    font-size: 13px;
    line-height: 16px;
  }

  .about__stats-info {
    margin-right: 0;
    padding: 10px 15px;
  }

  .about__stats-value {
    font-size: 26px;
    line-height: 30px;
  }

  .about__stats-desc {
    font-size: 12px;
    line-height: 18px;
  }

  .about__text {
    max-width: 500px;
  }

  .about__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .about__desc {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .header__search-buttons {
    justify-content: center;
  }

  .header__search-panel {
    flex-direction: column;
  }

  .header__search-panel-options {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__search-option {
    margin-right: 20px;
  }
  .header__search-option:last-child {
    margin-right: 20px;
  }
}
@media (max-width: 550px) {
  .btn {
    padding: 12px 38px;
  }

  .btn--send {
    padding: 8px 22px;
  }

  .section-title {
    font-size: 38px;
  }

  .discover__title {
    margin-bottom: 10px;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__title {
    font-size: 28px;
    line-height: 30px;
  }

  .about__desc {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .footer__table {
    margin: -16px -40px;
    border-spacing: 40px 16px;
  }
}
@media (max-width: 500px) {
  .burger-menu {
    margin-right: 0;
  }

  .section-desc {
    font-size: 14px;
  }

  .header__wrapper {
    padding-bottom: 80px;
  }

  .nav {
    padding-bottom: 40px;
  }

  .nav__buttons {
    display: none;
  }

  .header__over-title {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 38px;
    line-height: 40px;
  }

  .discover {
    padding: 80px 0;
  }

  .about__img {
    height: 276px;
  }

  .customers {
    padding-bottom: 80px;
  }
}
@media (max-width: 430px) {
  .section-title {
    font-size: 30px;
    line-height: 35px;
  }

  .discover__title {
    margin-bottom: 10px;
  }

  .discover-list__item img {
    height: 200px;
  }
  .discover-list__item:last-child img {
    height: 200px;
  }

  .advante__list-item-image {
    margin-right: 15px;
  }

  .advante__list-item-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .advante__list-item-desc {
    font-size: 14px;
    line-height: 24px;
  }

  .footer__wrapper {
    padding: 50px 0;
  }

  .footer__table {
    margin: -10px -20px;
    border-spacing: 20px 10px;
  }
  .footer__table-title {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__table-desc-link {
    font-size: 13px;
    line-height: 16px;
  }
}
@media (max-width: 400px) {
  .about__img {
    height: 230px;
  }

  .about__rating {
    padding: 10px 10px 16px 10px;
    max-width: 110px;
    top: 0;
    left: 0;
  }
  .about__rating-image {
    display: none;
  }
  .about__rating-value {
    font-size: 30px;
    line-height: 25px;
  }
  .about__rating-star {
    height: 12px;
    width: 12px;
  }
  .about__rating-stars {
    margin-bottom: 10px;
  }
  .about__rating-desc {
    font-size: 10px;
    line-height: 16px;
  }
  .about__rating-reviews-count {
    font-size: 12px;
    line-height: 14px;
  }

  .about__stats-info {
    margin-right: 0;
    padding: 8px 10px;
  }

  .about__stats-value {
    font-size: 20px;
    line-height: 25px;
  }

  .about__stats-desc {
    font-size: 11px;
    line-height: 16px;
  }

  .about__title {
    font-size: 26px;
    line-height: 30px;
  }

  .about__desc {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
@media (max-width: 390px) {
  .section-desc {
    font-size: 13px;
  }

  .header__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}
@media (max-width: 370px) {
  .email-input {
    width: 100%;
  }

  .btn--send {
    width: 100%;
    margin: 0;
  }

  .header__wrapper {
    padding-bottom: 50px;
  }

  .discover {
    padding: 50px 0;
  }

  .advante {
    padding: 50px 0;
  }

  .discover-list__item img {
    height: 160px;
  }
  .discover-list__item:last-child img {
    height: 160px;
  }
  .discover-list__item-price {
    font-size: 19px;
  }
  .discover-list__item-area {
    font-size: 13px;
  }

  .footer__form-input {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 330px) {
  .about {
    padding: 50px 0;
  }

  .about__info {
    display: none;
  }
}
@media (max-width: 315px) {
  .discover-list__item img {
    height: 130px;
  }
  .discover-list__item:last-child img {
    height: 130px;
  }
  .discover-list__item-title {
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 4px;
  }
  .discover-list__item-desc {
    font-size: 14px;
  }
  .discover-list__item-price-info {
    flex-direction: column;
    align-items: center;
  }
  .discover-list__item-price {
    margin-bottom: 10px;
  }

  .customers {
    padding-bottom: 50px;
  }

  .customers__over-title {
    font-size: 15px;
  }

  .customers__title-wrapper {
    margin-bottom: 30px;
  }

  .customers__quote-title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .customers__quote-desc {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .customers__quote-author-name {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 300px) {
  .header__search-option {
    font-size: 16px;
  }

  .section-title {
    font-size: 22px;
    line-height: 26px;
  }

  .discover__title {
    margin-bottom: 8px;
  }

  .footer__table {
    margin: -8px -14px;
    border-spacing: 14px 8px;
  }
  .footer__table-title {
    font-size: 14px;
  }
  .footer__table-desc-link {
    font-size: 12px;
    line-height: 14px;
  }
}
