*{
  box-sizing: border-box;
}
*::before,*::after{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

// links | btns
.btn{
  display: inline-block;
  padding: 16px 48px;
  background-color:$btn;

  text-align: center;
  color: $btnTxt;
  font-size: 16px;
  font-family: $btnFont;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04px;
  text-decoration: none;

  transition: all 0.2s ease;
  @media (hover: hover){
    &:hover{
      background-color: $btnHover;
      color: $btnTxtHover
    }
  }
}
.btn--long{
  border: 1px solid #69B99D;
  background-color:  transparent;
  padding: 12px 48px;
  width: 100%;
  color: $btn;
  @media (hover: hover){
    &:hover{
      background-color: $btnTxtHover;
      color: $btnHover;
      box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
    }
  }
}
.btn--send{
  padding: 8px 22px;
  line-height: 26px;
  letter-spacing: 0.5px;
  border: none;
  margin-left: -4px;
  min-height: 42px;
  @media (hover: hover){
    &:hover{
      background-color: $btnTxtHover;
      color: $btnHover;
      box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
    }
  }
}
.more-info-link{
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  color: $primary;
  font-family: $primaryFont;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-right: 12px;
  &::after{
    transition: all 0.1s ease;
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    right: -8px;
    border-radius: 50%;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(105, 185, 157, 0.58);
  }
  @media(hover: hover){
    &:hover{
      &::after{
        right: -11px;
      }
    }
  }
}
.burger-menu{
  display: none;
  margin-right: 30px;
  & span{
    display: block;
    margin-bottom: 6px;
    height: 4px;
    width: 30px;
    background-color: $btn;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

//ul
.section-list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  &__item{
    max-width: 376px;
    width: 100%;
    padding: 16px;
    border: 1px solid #DEDCDA;
    margin-right: 34px;
    &:last-child{
      margin-right: 0;
    }
  }
}
//inputs
.input-title{
  color: $footerStrong;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
.email-input{
  border: 0;
  outline: none;
  padding: 8px 16px;
  min-height: 42px;
  &::placeholder{
    color: #D7D7D7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
  }
}

// text
.over-title{
  color: $primary;
  font-family: $primaryFont;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: #F8F9FE;
  padding: 12px 24px;
  display: inline-block;
  text-align: center;

  margin: 0;
}

.section-title{
  color: $sectTxt;
  font-family: $secondaryFont;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.5px;
  max-width: 505px;
  width: 100%;
  margin: 0;
}
.section-desc{
  color: $desc;
  font-family: $primaryFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04px;
  margin: 0;
}