// colors
$primary: #69B99D;
$strongTxt: #1F2744;
$sectTxt: #054457;
$desc: #73788C;
$footerStrong: #0B2E29;
$footerTxt: #575757;
$btn: #69B99D;
$btnTxt: #FFFFFF;
$btnHover: #F5F5F5;
$btnTxtHover: #69B99D;
$sectBg1: #FFFFFF;
$sectBg2: #F5F5F5;

// fonts
$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Rubik', sans-serif;
$btnFont: 'Poppins', sans-serif;